header {
  text-align: center;
  padding: 20px;
  background-color: red;
  color: white;
}
.employee-section {
  margin-top: 50px;
}
.card-header {
  background-color: cornflowerblue;
  color: white;
}
