header {
  text-align: center;
  padding: 20px;
  background-color: red;
  color: white;
}
.employee-section {
  margin-top: 50px;
}
.card-header {
  background-color: cornflowerblue;
  color: white;
}
.my-card {
  width: 18rem;
  margin-left: 5rem;
}
body {
  /* background-color: purple; */
}
.employee-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  /* background-color: RED; */
}
